# HuntingYuk classtypes (loaded by suricata-test.yaml). shortname,description,priority
config classification: web-application-attack,Web Application Attack,1
config classification: attempted-admin,Attempted Administrator Privilege Gain,1
config classification: attempted-recon,Attempted Information Leak,2
config classification: web-application-activity,Access to a Potentially Vulnerable Web Application,2
config classification: trojan-activity,A Network Trojan was Detected,1
config classification: protocol-command-decode,Generic Protocol Command Decode,3
config classification: attempted-dos,Attempted Denial of Service,2
config classification: bad-unknown,Potentially Bad Traffic,2
config classification: misc-activity,Misc activity,3
